#main{
	border: 1px solid black;
	padding:5px;
	padding-top: 20px;
	background-attachment: gray;
	margin-top: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25em;
	position: relative; 
}

#menu{
	background-color: #264373;
	font-size: 32px;
	font-style: bold; 
	font-family: lemonada; 
	text-align: center;
	color: white;
	width: 45%;
	box-shadow: 4px 3px #676982;
	
}


.class1{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #73f094;
	width: 23%;
	background align-self: center;
	box-shadow: 5px 8px #8db096;
	
}

.class2{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #73f094;
	width: 40%;
	background align-self: center;
	box-shadow: 5px 8px #8db096;
	
	
}

.class3{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #73f094;
	width: 20%;
	background align-self: center;
	box-shadow: 5px 8px #8db096;
	
	
}

.class4{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #73f094;
	width: 20%;
	background align-self: center;
	box-shadow: 5px 8px #8db096;
	
	
}

.class5{
	text-align: center;
	font-family: lemonada;
	color: black;
	font-size: 25px;
	background-color: #73f094;
	width: 15%;
	background align-self: center;
	box-shadow: 5px 8px #8db096;
	
	
}



*{
	box-sizing: border-box;
}

div{
	display:block;
}

#head{
	font-family:chilanka; 
}

.class2{
	text-align: center;
	font-family: lemonada;
	font-size: 25px;
}